<!DOCTYPE html>
<html>
<head>
    <link href="https://fonts.googleapis.com/css?family=Alegreya+Sans+SC%3A400%2C400i%2C700%2C700i%7CAlegreya+Sans%3A300%2C300i%2C400%2C400i%2C700%2C700i%7CAlegreya%3A400%2C400i%2C700%2C700i&subset=latin-ext" rel="stylesheet" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width initial-scale=1" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="description" content="{{ site.description }}" />
    <link rel="stylesheet" type="text/css" href="style.css" />
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}" />
    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
</head>
<body>

{{ content }}

</body>
</html>
